<!DOCTYPE html>
<html lang="en">
<head>
  <title>Users</title>
</head>
<body>
 <div>
 <% @users.each do |user| %>
  <%= render partial: "user", locals: { user: user } %>
<% end %>
 </div>
</body>
</html>