<!DOCTYPE html>
<html lang="en">
<head>
  <title>Users</title>
</head>
<body>
 <div>
 <% @users.each do |user| %>
  <%= render partial: "shared/user", locals: { user: user } %>
 <% end %>

 <%= button_to "New Post", new_post_path, :method => "get" %>
 </div>
</body>
</html>