<!DOCTYPE html>
<html lang="en">
<head>
  <title>Users</title>
</head>
<body>
 <div>
 <% @users.each do |user| %>
  <%= render partial: "shared/user", locals: { user: user } %>
 <% end %>

<% if user_signed_in? %>
 <%= button_to "New Post", new_post_path, :method => "get" %>
<% else %>
 <%= button_to "Login", new_user_session_path, :method => "get" %>
<% end %>
 </div>
</body>
</html>