<div>
  <div><%= image_tag(user.photo, :alt => user.bio) %></div>
  <div>
    <h3><a href="<%= user_path(id: user.id) %>"><%= user.name%></a></h3>
    <span>Number of posts: <%= user.posts_counter%></span>
  </div>
</div>