<!DOCTYPE html>
<html lang="en">
<head>
  <title>User's posts</title>
</head>
<body>
 <div>
  <%= render partial: "shared/user", locals: { user: @user } %>

  <% @posts.each do |post| %>
    <%= render partial: "shared/post", locals: { post: post, user: @user } %>

    <% post.recent_comments(post.id).each do |comment| %>
       <p><%= comment.author.name %> : <%= comment.text %></p>
    <% end %>
  <% end %>
 </div>
</body>
</html>